In [1]:
from pathlib import Path
import requests

def download_file(year: int, month: int) -> Path:
    """"""
    URL = f'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_{year}-{month:02d}.parquet'
    response = requests.get(URL)

    if response.status_code == 200:
        path = f'../data/raw/rides_{year}_{month:02d}.parquet'
        open(path, 'wb').write(response.content)
    else:
        raise Exception(f'Failed to download file from {URL} or it\'s not available')

In [2]:
download_file(2023, 1)

In [3]:
import pandas as pd
rides_df = pd.read_parquet('../data/raw/rides_2023_01.parquet')
rides_df.head(20)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00
5,2,2023-01-01 00:50:34,2023-01-01 01:02:52,1.0,1.84,1.0,N,161,137,1,12.8,1.00,0.5,10.00,0.0,1.0,27.80,2.5,0.00
6,2,2023-01-01 00:09:22,2023-01-01 00:19:49,1.0,1.66,1.0,N,239,143,1,12.1,1.00,0.5,3.42,0.0,1.0,20.52,2.5,0.00
7,2,2023-01-01 00:27:12,2023-01-01 00:49:56,1.0,11.70,1.0,N,142,200,1,45.7,1.00,0.5,10.74,3.0,1.0,64.44,2.5,0.00
8,2,2023-01-01 00:21:44,2023-01-01 00:36:40,1.0,2.95,1.0,N,164,236,1,17.7,1.00,0.5,5.68,0.0,1.0,28.38,2.5,0.00
9,2,2023-01-01 00:39:42,2023-01-01 00:50:36,1.0,3.01,1.0,N,141,107,2,14.9,1.00,0.5,0.00,0.0,1.0,19.90,2.5,0.00
10,2,2023-01-01 00:53:01,2023-01-01 01:01:45,1.0,1.80,1.0,N,234,68,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00
11,1,2023-01-01 00:43:37,2023-01-01 01:17:18,4.0,7.30,1.0,N,79,264,1,33.8,3.50,0.5,7.75,0.0,1.0,46.55,2.5,0.00
12,2,2023-01-01 00:34:44,2023-01-01 01:04:25,1.0,3.23,1.0,N,164,143,1,26.1,1.00,0.5,6.22,0.0,1.0,37.32,2.5,0.00
13,2,2023-01-01 00:09:29,2023-01-01 00:29:23,2.0,11.43,1.0,N,138,33,1,44.3,6.00,0.5,13.26,0.0,1.0,66.31,0.0,1.25
14,2,2023-01-01 00:33:53,2023-01-01 00:49:15,1.0,2.95,1.0,N,33,61,1,17.7,1.00,0.5,4.04,0.0,1.0,24.24,0.0,0.00
15,2,2023-01-01 00:13:04,2023-01-01 00:22:10,1.0,1.52,1.0,N,79,186,1,10.0,1.00,0.5,1.25,0.0,1.0,16.25,2.5,0.00
16,2,2023-01-01 00:45:11,2023-01-01 01:07:39,1.0,2.23,1.0,N,90,48,1,19.8,1.00,0.5,4.96,0.0,1.0,29.76,2.5,0.00
17,1,2023-01-01 00:04:33,2023-01-01 00:19:22,1.0,4.50,1.0,N,113,255,1,20.5,3.50,0.5,4.00,0.0,1.0,29.50,2.5,0.00
18,1,2023-01-01 00:03:36,2023-01-01 00:09:36,3.0,1.20,1.0,N,237,239,2,8.6,3.50,0.5,0.00,0.0,1.0,13.60,2.5,0.00
19,1,2023-01-01 00:15:23,2023-01-01 00:29:41,2.0,2.50,1.0,N,143,229,2,15.6,3.50,0.5,0.00,0.0,1.0,20.60,2.5,0.00

In [4]:
rides_df = rides_df[["tpep_pickup_datetime", "PULocationID"]]

In [5]:
rides_df.rename(columns={"tpep_pickup_datetime": "pickup_datetime", "PULocationID": "pickup_location_id"}, inplace=True)
rides_df.head(20)

       pickup_datetime  pickup_location_id
0  2023-01-01 00:32:10                 161
1  2023-01-01 00:55:08                  43
2  2023-01-01 00:25:04                  48
3  2023-01-01 00:03:48                 138
4  2023-01-01 00:10:29                 107
5  2023-01-01 00:50:34                 161
6  2023-01-01 00:09:22                 239
7  2023-01-01 00:27:12                 142
8  2023-01-01 00:21:44                 164
9  2023-01-01 00:39:42                 141
10 2023-01-01 00:53:01                 234
11 2023-01-01 00:43:37                  79
12 2023-01-01 00:34:44                 164
13 2023-01-01 00:09:29                 138
14 2023-01-01 00:33:53                  33
15 2023-01-01 00:13:04                  79
16 2023-01-01 00:45:11                  90
17 2023-01-01 00:04:33                 113
18 2023-01-01 00:03:36                 237
19 2023-01-01 00:15:23                 143

In [6]:
rides_df['pickup_datetime'].describe()

count                       3066766
mean     2023-01-17 00:22:26.288164
min             2008-12-31 23:01:42
25%      2023-01-09 16:21:57.250000
50%      2023-01-17 08:42:29.500000
75%             2023-01-24 16:26:27
max             2023-02-01 00:56:53
Name: pickup_datetime, dtype: object

In [7]:
rides_df = rides_df[rides_df.pickup_datetime >= '2023-01-01']
rides_df = rides_df[rides_df.pickup_datetime < '2023-02-01']
rides_df.describe()

                  pickup_datetime  pickup_location_id
count                     3066718        3.066718e+06
mean   2023-01-17 00:27:48.391113        1.663983e+02
min           2023-01-01 00:00:00        1.000000e+00
25%    2023-01-09 16:22:12.250000        1.320000e+02
50%    2023-01-17 08:42:40.500000        1.620000e+02
75%           2023-01-24 16:26:28        2.340000e+02
max           2023-01-31 23:59:59        2.650000e+02
std                           NaN        6.424394e+01

In [8]:
rides_df.to_parquet('../data/processed/rides_2023_01.parquet')